<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>课程管理</string>
		<key>code</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基础数据</string>
		<key>code</key>
		<string>bd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教材管理</string>
		<key>code</key>
		<string>jc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>系统管理</string>
		<key>code</key>
		<string>sm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模块管理</string>
		<key>code</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数据字典</string>
		<key>code</key>
		<string>dd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>选课</string>
		<key>code</key>
		<string>xk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排课</string>
		<key>code</key>
		<string>pk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>配置管理</string>
		<key>code</key>
		<string>ps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>作息管理</string>
		<key>code</key>
		<string>zxgl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人事管理</string>
		<key>code</key>
		<string>op_teacher</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学籍管理</string>
		<key>code</key>
		<string>op_srm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>组织管理</string>
		<key>code</key>
		<string>op_dm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通知</string>
		<key>code</key>
		<string>no</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家长档案</string>
		<key>code</key>
		<string>op_parent</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基础数据初始化</string>
		<key>code</key>
		<string>bd_basedata_init</string>
	</dict>
	<dict>
		<key>name</key>
		<string>附件管理</string>
		<key>code</key>
		<string>attachment</string>
	</dict>
	<dict>
		<key>name</key>
		<string>公示</string>
		<key>code</key>
		<string>pu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教室管理</string>
		<key>code</key>
		<string>bd_operation_cr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日志</string>
		<key>code</key>
		<string>log</string>
	</dict>
	<dict>
		<key>name</key>
		<string>材料管理</string>
		<key>code</key>
		<string>materialsmanagement</string>
	</dict>
	<dict>
		<key>name</key>
		<string>课堂考勤</string>
		<key>code</key>
		<string>ca</string>
	</dict>
	<dict>
		<key>name</key>
		<string>查看课表</string>
		<key>code</key>
		<string>bd_viewcoursetable</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工资管理</string>
		<key>code</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>调查问卷</string>
		<key>code</key>
		<string>qn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周历</string>
		<key>code</key>
		<string>wc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>资料档案库</string>
		<key>code</key>
		<string>af</string>
	</dict>
	<dict>
		<key>name</key>
		<string>订车管理</string>
		<key>code</key>
		<string>carmanage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>知识点</string>
		<key>code</key>
		<string>bd_operation_kp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>使用统计</string>
		<key>code</key>
		<string>ur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学生档案</string>
		<key>code</key>
		<string>sf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>办公室管理</string>
		<key>code</key>
		<string>al</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教师考勤</string>
		<key>code</key>
		<string>ta</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通讯录</string>
		<key>code</key>
		<string>al_addresslist_addresslist</string>
	</dict>
	<dict>
		<key>name</key>
		<string>软件下载</string>
		<key>code</key>
		<string>softwareDownload</string>
	</dict>
	<dict>
		<key>name</key>
		<string>博客</string>
		<key>code</key>
		<string>bl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>报修系统</string>
		<key>code</key>
		<string>re</string>
	</dict>
	<dict>
		<key>name</key>
		<string>易耗品管理</string>
		<key>code</key>
		<string>sr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>题目库</string>
		<key>code</key>
		<string>qs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电教预约</string>
		<key>code</key>
		<string>mt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>作业管理</string>
		<key>code</key>
		<string>bd_module_wk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>校内新闻</string>
		<key>code</key>
		<string>ne</string>
	</dict>
	<dict>
		<key>name</key>
		<string>校历</string>
		<key>code</key>
		<string>xl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>专业教室</string>
		<key>code</key>
		<string>pc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>标签平台</string>
		<key>code</key>
		<string>tagplatform</string>
	</dict>
	<dict>
		<key>name</key>
		<string>答疑平台</string>
		<key>code</key>
		<string>qa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>资源学习平台</string>
		<key>code</key>
		<string>lr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>资产管理</string>
		<key>code</key>
		<string>ao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>食堂管理</string>
		<key>code</key>
		<string>bd_operation_cn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电子班牌</string>
		<key>code</key>
		<string>eb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德育评价</string>
		<key>code</key>
		<string>bd_operation_me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>学生出勤</string>
		<key>code</key>
		<string>ca_xscq</string>
	</dict>
	<dict>
		<key>name</key>
		<string>校本选课</string>
		<key>code</key>
		<string>xbxk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教务人事安排</string>
		<key>code</key>
		<string>bd_operation_ea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>基础管理</string>
		<key>code</key>
		<string>bd_basemanage</string>
	</dict>
	<dict>
		<key>name</key>
		<string>手动分班</string>
		<key>code</key>
		<string>ec_hand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生涯规划</string>
		<key>code</key>
		<string>ec_sygh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>应用中心</string>
		<key>code</key>
		<string>yyzx</string>
	</dict>
</array>
</plist>
